{% extends "base.html" %}

{% block content %}
    {{ pages.page_links|safe }}
    <ul>
        {% for t in tasks %}
            <li>
                 <div><a href="{% url tasks %}?pk={{ t.pk }}">[{{ t.pk }}] {{ t.name }}</a></div>
                 <div>Description: {{ t.description|truncatewords:25 }}</div>
                 <div>Created: {{ t.created|timesince }} ago, Modified: {{ t.modified|timesince }} ago</div>
                 <div>Hash: {{ t.hash }}</div>
                 <div>Completed: {{ t.completed }}</div>
                 <form method="POST" action="{% if not t.completed %} {% url complete_task %} {% else %} {% url uncomplete_task %} {% endif %}">
                     <input type="hidden" name="pk" value="{{ t.pk }}" />
                     <input type="submit" value="{% if t.completed %} uncomplete {% else %} complete {% endif %}" />
                 </form>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
